<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('/bower_components/fullcalendar/dist/fullcalendar.min.css')}}" />
        <link rel="stylesheet" href="{{asset('/bower_components/fullcalendar/dist/fullcalendar.print.css' )}}" rel='stylesheet' media='print' />
        <link rel="stylesheet" href="{{asset('/bower_components/jquery-ui/themes/base/jquery-ui.min.css')}}" />
        <link rel="stylesheet" href="{{asset('/bower_components/datetimepicker/jquery.datetimepicker.css')}}" />
        <link rel="stylesheet" href="{{asset('/bower_components/bootstrap/dist/css/bootstrap.min.css')}}" />


        <script type="text/javascript" src="{{asset('/bower_components/jquery/dist/jquery.min.js') }}" ></script>
        <script type="text/javascript" src="{{asset('/bower_components/bootstrap/dist/js/bootstrap.min.js') }}" ></script>
        <script type="text/javascript" src="{{asset('/bower_components/moment/min/moment.min.js') }}" ></script>
        <script type="text/javascript" src="{{asset('/bower_components/fullcalendar/dist/fullcalendar.min.js') }}" ></script>
        <script type="text/javascript" src="{{asset('/bower_components/jquery-ui/jquery-ui.min.js') }}" ></script>
        <script type="text/javascript" src="{{asset('/bower_components/datetimepicker/jquery.datetimepicker.js') }}" ></script>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('/favicon.ico') }}" />
    </head>
    <body>
        {% include '::navbar.html.twig' %}
        <div class="container">
             <div class="row">
                {% block body %}{% endblock %}
             </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
