<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
        </div><!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-right" style="margin-right: 100px;">
                {% if app.user %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}" >Logout</a>
                    </li>
                {% else %}
                    {#<li>#}
                        {#<form action="{{ path("fos_user_security_check") }}" method="post" class="navbar-form navbar-right" role="login">#}
                            {#<div class="form-group">#}
                                {#<input type="text" class="form-control" name="_username" placeholder="Username">#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<input type="text" class="form-control" name="_password" placeholder="Password">#}
                            {#</div>#}
                            {#<button type="submit" class="btn btn-default">Sign In</button>#}
                        {#</form>#}

                    {#</li>#}
                {% endif %}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>