{#app/Resources/FOSUserBundle/views/Security/login.html.twig#}
{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <div id="my-tab-content" class="tab-content">
                        <div class="tab-pane active" id="login">
                            <img class="profile-img" src="{{asset('/img/photo.png')}}" alt="" />
                            <form class="form-signin form-group" action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="text" class="form-control" placeholder="Username" name="_username" required autofocus>
                                <input type="password" class="form-control" placeholder="Password" required name="_password">
                                <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign In" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
