{% extends '::base.html.twig' %}

{% block stylesheets %}
    <style>
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    <div id='calendar'></div>

    <div id="dialog-form" title="Событие" style="display: none;">
        <form>
            <p><label for="event_type">Название</label>
                <input type="text" id="event_title" name="event_title" value=""></p>
            <p><label for="event_start">Дата</label>
                <input type="text" name="event_date" id="event_date"/></p>
            <p><label for="event_end">Время</label>
                <input type="text" name="event_time" id="event_time"/></p>
            <p><label for="event_end">Описание</label>
                <textarea name="event_description" id="event_description" ></textarea>
            <input type="hidden" name="uid" id="uid" value="">
        </form>
    </div>

    <script src="{{asset('/js/calendar.js')}}"></script>
    {% if is_granted( 'ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
        <script src="{{asset('/js/events.js')}}"></script>
    {% else %}
        <script src="{{asset('/js/user_events.js')}}"></script>
    {% endif %}
{% endblock body %}
